<div class="example-wrapper">
    {% if userOrders|length > 0 %}
        {% for userOrder in userOrders %}
            {{ include('order/_order.html.twig', {userOrder: userOrder}) }}
        {% endfor %}
    {% else %}
        There's no order
    {% endif %}
</div>
